.review-row {
    margin-top: 5%;
    margin-right: 30px;

}

.review-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.review-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}