.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.reviews h2 {
    margin-top: 20px;
    text-align: center;
}