.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.home-container img {
    margin-top: 20px;
    height: 80vh;
}

.home-info {
    margin-left: 120px;
    margin-top: 100px;
    padding: 10px 10px;
}

.home h1 {
    text-align: center;
}

.home p {
    text-align: center;
}

.home h2 {
    margin-top: 40px;
    text-align: center;
    font-size: x-large;

}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.btn button {
    display: inline-block;
    text-decoration: none;
    color: rgb(23, 19, 19);
    background-color: bisque;
    padding: 12px 34px;
    font-size: 13px;

    cursor: pointer;
    border: 2px solid bisque;
    font-size: large;

}

.btn button:hover {
    border: 1px solid #c8b434;
    background: #c8b434;
    transition: 1s;
}